<div class="container-fluid">
    <div class="row">
        <div class="col-10"></div>
    </div>
    <table class="table table-borderd table-hover table-info table-striped">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < data.length; i++){%>
                <tr>
                    <td><%= i+1;%></td>
                    <td><%= data[i].firstname+" "+data[i].lastname;%></td>
                    <td><%= data[i].email%></td>
                    <td><%= data[i].contact%></td>
                    <td><%= data[i].address%></td>
                    <td><%= data[i].gender%></td>
                    <td>
                        <a href="/edituser?editsId=<%= data[i].id;%>" class="btn btn-info">Edit</a>
                        <a href="/delete?deleteId=<%= data[i].id;%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
</div>